@{
    ViewBag.Title = "Projeto semestral - Uninove";

}
<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />

<div class="help-page">
    <div class="float-left">
        <h1>@ViewBag.Title</h1>
        <h3>Segundo semestre de 2021</h3>
    </div>
</div>

<div class="help-page" style="margin-top: 50px;">
    <p>
        Trabalho apresentado ao curso de Ciência da computação da Universidade Nove de Julho,<br />
        como parte dos requisitos para a obtenção do Grau de Bacharel em Ciência da computação.<br />
        <br />
        Orientador: Prof. Daniel Ferreira de Barros Junior<br />
        Curso: Ciência da computação.<br />
    </p>
</div>
<hr />

<div class="help-page" style="margin-top: 50px;">
    <div>
        <h3>Folha de aprovação</h3>
        <div class="row">
            <div class="col-md-3">
                <p>Giovanna dos Santos Ramos</p>
                <p>Lucas Oliveira Lima</p>
                <p>Iago Aparecido da Silva Barrios</p>
                <p>Nwaeri MaryJane Ifunanya</p>
                <p>Ruan Henrique Alves da Silva</p>
                <p>Rafael Silva Camara</p>
                <p>Lucas Motta Da Silva</p>
            </div>
            <div class="col-md-3">
                <p>RA: 421105442</p>
                <p>RA: 421107058</p>
                <p>RA: 421100263</p>
                <p>RA: 421108613</p>
                <p>RA: 421110454</p>
                <p>RA: 320101741</p>
                <p>RA: 320106212</p>
            </div>
        </div>
    </div>
</div>